.center {
  margin-top: 10px;
}



.sensors {
  margin-top: 40px;
}

.sensor-b {
  margin-top: 10px;
}


.small-input {
  max-width: 120px;
}

.page-margin {
  margin-left: 10px;
  margin-top: 20px;
}

.margin-left {
  margin-left: 10px;
}

.clear {
  margin-top: 40px;
}
