<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">

    <mat-toolbar (click)="menuClick(); closeIfMobile(drawer)">Sailometer Wind</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" (click)="closeIfMobile(drawer)">Meter</a>

      <a mat-list-item [routerLink]="['/config']" (click)="closeIfMobile(drawer)">Config</a>

      <mat-list-item role="listitem">
        <button mat-mini-fab (click)="increaseFont(-.25)" color="primary" aria-label="decrease font size">
          <mat-icon>remove</mat-icon>
        </button>
        &nbsp;&nbsp;
        Font {{fontService.fontSize}}x
        &nbsp;&nbsp;
        <button mat-mini-fab (click)="increaseFont(.25)" color="primary" aria-label="increase font size">
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>



    <div class="app-version">
      version: {{version}}
    </div>

  </mat-sidenav>


  <mat-sidenav-content>
    <div class="menu-button-header">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </div>

    <div class="title" *ngIf="titleService.title">
      {{titleService.title}}
    </div>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
